#!/bin/bash
cd /usr/share/nginx-naxsi/naxsi-ui/
python nx_intercept.py -c /etc/nginx/naxsi-ui.conf &
somepid=$!
#if is_distribution?("<= quantal")
    echo $somepid > /var/run/nginx-naxsi-ui_intercept.pid
#else
    echo $somepid > /run/nginx-naxsi-ui_intercept.pid
#endif
wait $somepid
